<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css" />
    <title>Hello World</title>
  </head>
  <body>
    <nav>
      <ul id="navButtons">
        <li>
          <a class="homeBtn" id="topBtn" href="/">Home</a>
        </li>
        <li>
          <a class="txterBtn" id="topBtn" href="/txter">Txter</a>
        </li>
        <li>
          <a class="contactsBtn" id="topBtn" href="/contacts">Contacts</a>
        </li>
        <li>
          <a class="historyBtn" id="topBtn" href="/history">History</a>
        </li>

      </ul>
      {{#if logged_in}}

        <button class="btn" id="logout">logout</button>
        <script src="/js/logout.js"></script>

      {{/if}}
    </nav>

    {{{body}}}

  </body>

</html>