<div id="homepage">
  <h2 id="homeTitle">Welcome to txter</h2>
  <h3 id="homeSubTitle">The user friendly app for sending out bulk text messages</h3>

  {{#unless user}}

    <div id="buttons">
      <a class="LoginBtn" href="/login">
        Login
      </a>
      <a class="signupBtn" href="/signup">
        Signup
      </a>
    </div>
  {{/unless}}
</div>