<h1>This is the app page to send scheduled texts and bulk texts to your contacts</h1>

<div class="container" id="textbox">
  <h2>Send SMS Message</h2>
  <input
    type="tel"
    name="number"
    id="number"
    placeholder="Enter Phone Number..."
  />
  <input type="text" name="msg" id="msg" placeholder="Enter Text Message..." />
  <select name="schedule" id="schedule">
    <option value="0">Schedule time to send a message</option>
    <option value="1">After 1 minutes</option>
    <option value="3">After 3 minutes</option>
    <option value="5">After 5 minutes</option>
  </select>
  <button type="button" id="send" onclick="alert('Hello World!')">Send</button>
  <p class="response"></p>
</div>
<script src="public/js/txter.js"></script>